.content form .user-details-fgp {
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
