/* PrivacyPolicy.css */
.privacy-policy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; /* Light background */
    color: #333; /* Standard text color */
    font-family: 'Arial', sans-serif;
  }
  
  .privacy-policy-header {
    font-size: 1.5rem;
    color: rgb(26, 23, 23);
  }
  
  .privacy-text {
    line-height: 1.6;
    color: #333;
  }
  
  .links {
    color: #FF7A00; /* Link color matching logo */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .container-list {
    background-color: #f2f2f2;
    padding: 22px 90px 25px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
  