:root {
  --color-primary: #1f98f4; /* A shade of blue from the logo */
  --color-accent: #ffa500; /* A standard orange that might match your logo */
  --color-dark: #000000; /* Black for contrast and text */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  /* background: rgb(30, 30, 40); */
  font-family: "Montserrat", sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url("../public/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/*
.sign-up {
  background-image: url('../public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
*/
/* Destination page*/
.destination {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 350px;
}

.destination-container {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: wrap;
}

.destination-container h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

.destination-container p {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  max-width: 800px;
}

.info-wrapper {
  max-width: 800px;
}

h3 {
  margin: 3rem 0 1.3rem 0;
  font-size: 2.4rem;
}

h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.destination-container ul li {
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.booking-container {
  width: 350px;
  height: fit-content;
  padding: 1.4rem;
  border: 2px solid #242424;
  border-radius: 5px;
}

.booking-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-info h5 {
  font-size: 1.2rem;
}

.booking-info .price {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.btn-book {
  padding: 12px 26px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #242424;
  color: #fff;
  background-color: #242424;
}

.btn-book:hover {
  background-color: #fff;
  color: #242424;
}

/* Sign up Page */

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 100px; /* Adjust this value as needed to push the container down */
  margin-left: auto;
  margin-right: auto;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: var(--color-dark);
  margin-bottom: 20px
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-accent)
  );
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  /* margin-bottom: 15px; */
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: var(--color-primary);
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 35px 0;
}
/* form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: $;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--color-primary);
} */

.btn-signUp {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--color-primary);
}

.btn-signUp:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(
    -135deg,
    var(--color-primary),
    var(--color-accent)
  );
}

/* End Of Sign Up Page */

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.pagination button {
  background-color: var(--color-primary); /* Adjust the color code as needed */
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: var(
    --color-accent
  ); /* A lighter or different shade for hover */
}

.pagination button.active {
  background-color: var(--color-dark); /* A darker shade for the active page */
  color: #fff;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal h2 {
  margin-bottom: 20px;
}

.modal p {
  margin-bottom: 20px;
}

.modal button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #555;
}

.forgot-password {
  padding-top: 20px;
}

@media only screen and (max-width: 798px) {
  .destination-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}


